<style>
*{margin:0px;padding:0px;}
html{margin: 0px; padding: 0px; font-family: 'Noto Sans KR', sans-serif; font-display:fallback;}
body{margin: 0px; padding: 0px;}

#wrap{
  float:left;
  width: 100%;
  margin: 0 auto;
  min-width: 1000px;
  height: auto;
}
.gnb{
  position: relative;
  width:100%;
  height:95px;
  background:white;
  border-bottom: 1px solid lightgray;
  _border:5px solid blue;
}

.gnb_bi{
  position: absolute;
  width: 100% auto;
   top: -10px;
   left: 0px;
  height: 95px;
  _border:5px solid red;
}
.gnb_center{
  width:100%;
  height: 95px;
  top: 0px;
  background:white;
  _border:5px solid black;
  margin: 0 auto;
}

.gnb_center ul{
  text-align: center;
  list-style-type: none;
  padding-left: 0px;
  overflow: hidden;

}
.gnb_center ul li{
  display:inline-block;
  box-sizing: border-box;
}

.gnb_center ul li:first-child{
  border-left: none;
}

.gnb_menu{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  _border:5px solid yellow;
  width: auto;
  height: 100%;
}
.gnb_menu img{
  width: 120px;
  height: auto;

}
.gnb_menu span{
  font-size: 20pt;
  font-weight: bold;
  color:black;
  width: 120px;
  height: auto;
}
.gnb_menu a:link {border-bottom: 0px; text-decoration:none;}
.gnb_menu a:hover {border-bottom: 5px solid yellowgreen; text-decoration:none;}
.gnb_menu a:active {border-bottom: 5px solid yellowgreen; text-decoration:none;}

.gnb_start{
  position: absolute;
  top: -10px;
  right: 0px;
  height: 90px;
  _border:5px solid pink;
  width: auto;
}

.gnb_start img{

  width: auto;
}

.hidden{
position:absolute !important;
 width:1px;
 height:1px;
 overflow:hidden;
 clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
 clip:rect(1px, 1px, 1px, 1px);
}

.nav{
  position: fixed;
  width:150px;
  right:10px;
  margin-top:60px;
  padding: 0;
  text-align: center;
}

.nav ul{
  list-style-type: none;
  margin:0px;
  padding: 0px;
  border-top: 3px solid yellowgreen;
  background-color: #0f1a45;
  overflow: hidden;
}

.nav ul li{
  font-size: 12pt;
  color:#0f1a45;
  padding: 0px;
  margin-top:8px;
  margin-bottom: 8px;
}

.nav ul li a:link, ul li a:visited {display: block; color:white; text-decoration: none; padding: 3px;}
.nav ul li a:hover { display: block; color:#000039; text-decoration: none; background-color:rgba(255, 255, 255, 0.8); padding: 3px;}
.nav ul h3 a:link, ul h3 a:visited {display: block; color:#000039; text-decoration: none; }

.nav ul h3{background-color: yellowgreen; padding: 8px; }

.container{
  width:100% auto;
  top: -10px;
  margin: 0 auto;
  height: 0 auto;
  overflow: hidden;
  _border:5px solid black;
  background-color: #000039;
  background:linear-gradient( to bottom, #000039 70%, lightgray );
  text-align: center;
  position: relative;
}

.contents{
  width: 100% auto;
  height: 1450px;
  _border:5px solid yellow;
  margin: 0 auto;
}

.left{
  float: left;
  width:300px;
  margin-top: 45px;
  margin-left: 30px;
  _border:5px solid blue;
}

.left img {
  border:5px solid lightgray;
  border-radius: 10px;
}

.right{
  position: absolute;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  width: 100% auto;
  height: auto;
  _border:5px solid:black;
  _background-color: #0f1a45;
  border-radius: 10px;
  _border:5px solid blue;
  overflow:visible;

}

.right_header{
  margin: 0 auto;
  width: 100% auto;
}


.right_header img{
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;

  animation-name: rHeader_img;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;

}

@keyframes rHeader_img {
  0% {transform: scale(2);
  opacity : 0;
  }
  50% {
    transform: scale(1);
  opacity :1;
  }
  70% {
  opacity :0;
  }
  100% {
  opacity : 1;
  }
}


.tab{
  border-radius: 10px;
  width: 100% auto;
  height: 850px;
  margin-top: 10px;
}

.tabBtn{
	float: left;
  border-radius: 10px;
  margin: 0 auto;
  width: 100% auto;
  height: auto;
}

.tabBtn a{
  width: 100% auto;
  height: auto;
  font-size: 32pt;
  border-radius: 10px 0 0 0;
  font-weight: bold;
  padding: 0px 50px 0px 50px;
  margin-right: 1px;
}

.tabBtn a:link { color: lightgray; text-decoration: none; background-color: #0f1a45;}
.tabBtn a:visited { color: lightgray; text-decoration: none;}
.tabBtn a:hover { color: lightgray; background-color: #0f1a45;}

.tab_content img{
  width: 45%;
}

.tab_content
{
	position: absolute;
	width: 100%;
  height: 760px;
	left: 0px;
  background-image: url("images.jpg");
  background-size: cover;
  background-color: white;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  border-top: 5px solid yellowgreen;
}

.tab_content p{
  font-size: 32pt;
  _text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
  color: navy;
  font-weight: bold;
}

.tab_content p .text4{
    font-size: 42pt;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    color: hotpink;
    font-weight: bold;
}

.tab .tabBtn:nth-of-type(1) .tab_content
{
	z-index: 1;
}

.tabBtn:target a
{

	font-weight: bold;
  color: #0f1a45;
  background-color: yellowgreen;
}

.tabBtn:target .tab_content
{
	z-index: 1;
}



.e1_header{
  width: 100% auto;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 150px;
}

.text1{
  font-size: 120pt;
  font-weight: bold;
  color: yellow;
  text-shadow: -3px 0 violet, 0 3px purple, 3px 0 skyblue, 0 -3px skyblue;
}

.text2{
  font-size: 95pt;
  font-weight: bold;
  color: pink;
  text-shadow: -3px 0 hotpink, 0 3px skyblue,  5px 0 white, 0 -5px white;
}

.text3{
  font-size: 110pt;
  font-weight: bold;
  color: skyblue;
  text-shadow: -3px 0 yellow, 0 3px yellow, 5px 0 hotpink, 0 -5px hotpink;
}


.e1_contents{
  width: 100% auto;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 150px;
  _border:5px solid:black;
  _background-color: #0f1a45;
  border-radius: 10px;
  _border:5px solid blue;

}

.e1_contents h1{
  margin:0 auto;
  padding:10px;
  border-radius: 10px  10px 0 0;
  background: yellowgreen;
  text-align: center;
  color: #0f1a45;
  _border:5px solid red;
}

.e1_contents .box{
  float:left;
  width: 100% auto;
  height: auto;
  padding:20px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  background-image: url("white_bg.png");
  background-repeat:repeat;
  _border:5px solid gray;
}

.in_box{
  position: relative;
  margin: 0 30px;
  float:left;
}

.machine{
  position: absolute;
}


.getbtn{
  display:block;
  width:200px;
  height:200px;
  background:url("getbtn.png") no-repeat;
  position: absolute;
  bottom: 50px;
  top:0px;
  right: 0px;
}

.getbtn:hover{
  display:block;
  width:200px;
  height:200px;
  background:url("getbtn2.png") no-repeat;
  position: absolute;
  bottom: 50px;
  top:0px;
  right: 0px;
}
.getbtn span{ display:none; }

.e2_header{
  width: 100% auto;
  margin-top: 0px;
  margin-left: 300px;
  margin-right: 150px;
}

.e2_contents{
  min-width: inherit;
  width: 100% auto;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 150px;
  _border:5px solid:black;
  _background-color: #0f1a45;
  border-radius: 10px;
  _border:5px solid blue;
}

.e2_contents h1{
  margin:0 auto;
  padding:10px 30px 10px 30px;
  border-radius: 10px  10px 0 0;
  background: yellowgreen;
  text-align: center;
  color: #0f1a45;
  _border:5px solid red;
}

.e2_contents .box{
  float:left;
  width: 100% auto;
  margin:0 auto;
  padding:10px 50px 10px 50px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  background-image: url("white_bg.png");
  background-repeat:repeat;
  _border:5px solid gray;
}

.shootbtn{
  display:block;
  width:200px;
  height:200px;
  background:url("shootbtn.png") no-repeat;
  position: absolute;
  bottom: 50px;
  right: 0px;
}

.shootbtn:hover{
  display:block;
  width:200px;
  height:200px;
  background:url("shootbtn2.png") no-repeat;
  position: absolute;
  bottom: 50px;
  right: 0px;
}
.shootbtn span{ display:none; }

.footer{
  float:left;
  width:100%;
  height:100px;
  margin:0 auto;
  background-color:gray;
  font-size: 8pt;
  text-align: center;
  position: relative;
  clear: both;

}

.footer_img{
  margin-top: 15px;
  margin-left: 42%;
  text-align: center;
  float: left;
}
.footer_img img{
  width: 50px;
  margin-right: 5px;

}
.footer_text{
  margin: auto;
  margin-top: 20px;
  float: left;
  text-align:left;
}

</style>
